<p id="notice"><%= notice %></p>

<p>
  <strong>Firstname:</strong>
  <%= @entry.firstName %>
</p>

<p>
  <strong>Lastname:</strong>
  <%= @entry.lastName %>
</p>

<p>
  <strong>Address:</strong>
  <%= @entry.address %>
</p>

<p>
  <strong>Apt:</strong>
  <%= @entry.apt %>
</p>

<p>
  <strong>City:</strong>
  <%= @entry.city %>
</p>

<p>
  <strong>State:</strong>
  <%= @entry.state %>
</p>

<p>
  <strong>Email:</strong>
  <%= @entry.email %>
</p>

<p>
  <strong>Purchtime:</strong>
  <%= @entry.purchTime %>
</p>

<p>
  <strong>Interest:</strong>
  <%= @entry.interest %>
</p>

<p>
  <strong>Posspurch:</strong>
  <%= @entry.possPurch %>
</p>

<p>
  <strong>Opinion:</strong>
  <%= @entry.opinion %>
</p>

<p>
  <strong>Partcipate:</strong>
  <%= @entry.partcipate %>
</p>

<p>
  <strong>Minor:</strong>
  <%= @entry.minor %>
</p>

<p>
  <strong>Sign:</strong>
  <%= @entry.sign %>
</p>

<p>
  <strong>News:</strong>
  <%= @entry.news %>
</p>

<p>
  <strong>Dealercont:</strong>
  <%= @entry.dealerCont %>
</p>

<p>
  <strong>Time:</strong>
  <%= @entry.time %>
</p>

<%= link_to 'Edit', edit_entry_path(@entry) %> |
<%= link_to 'Back', entries_path %>
